<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content">
					<div class="page-title">
						<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Invoices</span> - Templates</h4>

						<ul class="breadcrumb position-right">
							<li><a href="index.html">Home</a></li>
							<li><a href="invoice_template.html">Invoices</a></li>
							<li class="active">Templates</li>
						</ul>
					</div>

					<div class="heading-elements">
						<div class="heading-btn-group">
							<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
							<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
							<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Invoice template -->
				<div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title">Static invoice</h6>
						<div class="heading-elements">
							<button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-file-check position-left"></i> Save</button>
							<button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-printer position-left"></i> Print</button>
	                	</div>
					</div>

					<div class="panel-body no-padding-bottom">
						<div class="row">
							<div class="col-sm-6 content-group">
								<img src="assets/images/logo_demo.png" class="content-group mt-10" alt="" style="width: 120px;">
	 							<ul class="list-condensed list-unstyled">
									<li>2269 Elba Lane</li>
									<li>Paris, France</li>
									<li>888-555-2311</li>
								</ul>
							</div>

							<div class="col-sm-6 content-group">
								<div class="invoice-details">
									<h5 class="text-uppercase text-semibold">Invoice #49029</h5>
									<ul class="list-condensed list-unstyled">
										<li>Date: <span class="text-semibold">January 12, 2015</span></li>
										<li>Due date: <span class="text-semibold">May 12, 2015</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-lg-9 content-group">
								<span class="text-muted">Invoice To:</span>
	 							<ul class="list-condensed list-unstyled">
									<li><h5>Rebecca Manes</h5></li>
									<li><span class="text-semibold">Normand axis LTD</span></li>
									<li>3 Goodman Street</li>
									<li>London E1 8BF</li>
									<li>United Kingdom</li>
									<li>888-555-2311</li>
									<li><a href="#">rebecca@normandaxis.ltd</a></li>
								</ul>
							</div>

							<div class="col-md-6 col-lg-3 content-group">
								<span class="text-muted">Payment Details:</span>
								<ul class="list-condensed list-unstyled invoice-payment-details">
									<li><h5>Total Due: <span class="text-right text-semibold">$8,750</span></h5></li>
									<li>Bank name: <span class="text-semibold">Profit Bank Europe</span></li>
									<li>Country: <span>United Kingdom</span></li>
									<li>City: <span>London E1 8BF</span></li>
									<li>Address: <span>3 Goodman Street</span></li>
									<li>IBAN: <span class="text-semibold">KFH37784028476740</span></li>
									<li>SWIFT code: <span class="text-semibold">BPT4E</span></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="table-responsive">
					    <table class="table table-lg">
					        <thead>
					            <tr>
					                <th>Description</th>
					                <th class="col-sm-1">Rate</th>
					                <th class="col-sm-1">Hours</th>
					                <th class="col-sm-1">Total</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>
					                	<h6 class="no-margin">Create UI design model</h6>
					                	<span class="text-muted">One morning, when Gregor Samsa woke from troubled.</span>
				                	</td>
					                <td>$70</td>
					                <td>57</td>
					                <td><span class="text-semibold">$3,990</span></td>
					            </tr>
					            <tr>
					                <td>
					                	<h6 class="no-margin">Support tickets list doesn't support commas</h6>
					                	<span class="text-muted">I'd have gone up to the boss and told him just what i think.</span>
				                	</td>
					                <td>$70</td>
					                <td>12</td>
					                <td><span class="text-semibold">$840</span></td>
					            </tr>
					            <tr>
					                <td>
					                	<h6 class="no-margin">Fix website issues on mobile</h6>
					                	<span class="text-muted">I am so happy, my dear friend, so absorbed in the exquisite.</span>
				                	</td>
					                <td>$70</td>
					                <td>31</td>
					                <td><span class="text-semibold">$2,170</span></td>
					            </tr>
					        </tbody>
					    </table>
					</div>

					<div class="panel-body">
						<div class="row invoice-payment">
							<div class="col-sm-7">
								<div class="content-group">
									<h6>Authorized person</h6>
									<div class="mb-15 mt-15">
										<img src="assets/images/signature.png" class="display-block" style="width: 150px;" alt="">
									</div>

									<ul class="list-condensed list-unstyled text-muted">
										<li>Eugene Kopyov</li>
										<li>2269 Elba Lane</li>
										<li>Paris, France</li>
										<li>888-555-2311</li>
									</ul>
								</div>
							</div>

							<div class="col-sm-5">
								<div class="content-group">
									<h6>Total due</h6>
									<div class="table-responsive no-border">
										<table class="table">
											<tbody>
												<tr>
													<th>Subtotal:</th>
													<td class="text-right">$7,000</td>
												</tr>
												<tr>
													<th>Tax: <span class="text-regular">(25%)</span></th>
													<td class="text-right">$1,750</td>
												</tr>
												<tr>
													<th>Total:</th>
													<td class="text-right text-primary"><h5 class="text-semibold">$8,750</h5></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="text-right">
										<button type="button" class="btn btn-primary btn-labeled"><b><i class="icon-paperplane"></i></b> Send invoice</button>
									</div>
								</div>
							</div>
						</div>

						<h6>Other information</h6>
						<p class="text-muted">Thank you for using Limitless. This invoice can be paid via PayPal, Bank transfer, Skrill or Payoneer. Payment is due within 30 days from the date of delivery. Late payment is possible, but with with a fee of 10% per month. Company registered in England and Wales #6893003, registered office: 3 Goodman Street, London E1 8BF, United Kingdom. Phone number: 888-555-2311</p>
					</div>
				</div>
				<!-- /invoice template -->

				<!-- Footer -->
				<div class="footer text-muted">
					&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
				</div>
				<!-- /footer -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->
	<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
