<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

  </head>

  <body>
    <!-- Main navbar -->
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

      <ul class="nav navbar-nav pull-right visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             My Network <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/contacts"><i class="icon-magazine"></i> Contacts</a></li>
            <li><a href="/companies"><i class="icon-city"></i> Companies</a></li>
            <li><a href="/colleagues"><i class="icon-users2"></i> Colleagues</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             My Schedule <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/calendar"><i class="icon-calendar"></i> Calendar</a></li>
            <li><a href="/tasks"><i class="icon-task"></i> Tasks </a></li>
            <li><a href="/deals"><i class="icon-coins"></i> Deals </a></li>
            <li><a href="/projects"><i class="icon-folder5"></i> Projects </a></li>
            <li><a href="/to_do_list"><i class="icon-grid4"></i> To Do List </a></li>
          </ul>
        </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <i class="icon-menu9 position-left"></i></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/calendar"> Sales</a></li>
            <li><a href="/tasks"> Marketting </a></li>
          </ul>
      </li>
    </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Create <span class="caret"></span>
          </a>
          
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/calendar"> Event</a></li>
              <li><a href="/tasks"> Tasks </a></li>
              <li><a href="/meetings"> Meeting </a></li>
              <li><a href="/quotes"> Quote </a></li>
              <li><a href="/conversation"> Message </a></li>
            </ul>

        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-bubbles4"></i>
            <span class="visible-xs-inline-block position-right">Messages</span>
            <span class="badge bg-warning-400">2</span>
          </a>
          
          <div class="dropdown-menu dropdown-content width-350">
            <div class="dropdown-content-heading">
              Messages
              <ul class="icons-list">
                <li><a href="#"><i class="icon-compose"></i></a></li>
              </ul>
            </div>

            <ul class="media-list dropdown-content-body">
              <li class="media">
                <div class="media-left">
                  <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                  <span class="badge bg-danger-400 media-badge">5</span>
                </div>

                <div class="media-body">
                  <a href="#" class="media-heading">
                    <span class="text-semibold">James Alexander</span>
                    <span class="media-annotation pull-right">04:58</span>
                  </a>

                  <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                </div>
              </li>

              <li class="media">
                <div class="media-left">
                  <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                  <span class="badge bg-danger-400 media-badge">4</span>
                </div>

                <div class="media-body">
                  <a href="#" class="media-heading">
                    <span class="text-semibold">Margo Baker</span>
                    <span class="media-annotation pull-right">12:16</span>
                  </a>

                  <span class="text-muted">That was something he was unable to do because...</span>
                </div>
              </li>

              <li class="media">
                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                <div class="media-body">
                  <a href="#" class="media-heading">
                    <span class="text-semibold">Jeremy Victorino</span>
                    <span class="media-annotation pull-right">22:48</span>
                  </a>

                  <span class="text-muted">But that would be extremely strained and suspicious...</span>
                </div>
              </li>

              <li class="media">
                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                <div class="media-body">
                  <a href="#" class="media-heading">
                    <span class="text-semibold">Beatrix Diaz</span>
                    <span class="media-annotation pull-right">Tue</span>
                  </a>

                  <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                </div>
              </li>

              <li class="media">
                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                <div class="media-body">
                  <a href="#" class="media-heading">
                    <span class="text-semibold">Richard Vango</span>
                    <span class="media-annotation pull-right">Mon</span>
                  </a>
                  
                  <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                </div>
              </li>
            </ul>

            <div class="dropdown-content-footer">
              <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
            </div>
          </div>
        </li>

        <li class="dropdown dropdown-user">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/images/placeholder.jpg" alt="">
            <span>Victoria</span>
            <i class="caret"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
            <li><a href="#"><i class="icon-coins"></i> My Payments</a></li>
            <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
            <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /main navbar -->

    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>